* {
  box-sizing: border-box;
  margin: 0;
  color: #eee;
}

html {
  background: url('chicago-skyline600.jpg') no-repeat center center fixed;
  background-size: cover;
}
body {
  font-family: 'Economica', sans-serif;
}

.container {
  position: relative;
  height: calc(100% + 100vh);
}

[id^="banner-text"] {
  font-size: 10em;
  color: #eee;
  position: absolute;
  margin-top: 40vh;
  margin-left: 120px;
  z-index: 1;
}

#banner-text-line2 {
  margin-top: 63vh;
}

.header {
  position: fixed;
  color: #eee;
  width: 100%;
  height: 110px;
  z-index: 999;
  display: flex;
}

#main {
  position: relative;
  top: 100vh;
  height: 100%;
  overflow-x: hidden;
}

.nav-header {
  background: transparent;
  position: relative;
  width: calc(100% - 110px);
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.list {
  display: flex;
  justify-content: space-around;
  width: 60%;
  right: 0;
  list-style: none;
  padding: 40px;
}

.list-item {
  font-size: 1.3em;
  cursor: pointer;
}

.line {
  position: absolute;
  top: calc(50% + 15px);
  height: 2px;
  width: 0px;
  background-color: #eee;
  right: -100px;
  transition: all 0.2s ease-out;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  width: 110px;
  height: 110px;
  z-index: 1000;
  background-color: #00227b;
  cursor: pointer;
}

.slide {
  position: relative;
  height: 100vh;
  background-color: #3949ab;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slide-content {
  position: fixed;
  top: 0;
  left: calc(100% / 12);
  font-size: 2.5rem;

  height: 100vh;
  display: none;
  align-items: center;
}

.slide-header, .slide-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-header {
  margin-left: 30px;
}

.section-title {
  margin-bottom: 85px;
  font-size: 4rem;
}

.section-headline {
  font-size: 2.5rem;
  line-height: 3rem;
}

#profile-pic {
  position: relative;
  z-index: 100;
  background: url('profile_pic_2.jpg');
  background-position: -90px -4px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 40px;

}

.slide-right {
  width: calc(100% / 3);
  align-items: center;
  position: absolute;
  right: calc(100% / 6);
  z-index: 10;
  transition: all 0.5s cubic-bezier(.50,0,.50,1) 0.2s;
}

.slide-right-hide {
  right: -1000px;
}

.slide-right p {
  font-size: 1.5rem;
  text-align: justify;
  text-justify: auto;
  line-height: 2rem;
}

#projects {
  background-color: #005662;
}
#resume {
  background-color: #6f74dd;
}
#contact {
  background-color: #00838f;
}

#footer {
  background-color: #00227b;
  color: #eee;
  height: 100px;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

#footer > a {
  color: #eee;
  text-decoration: none;
  margin-left: 5px;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
