* {
  box-sizing: border-box;
  margin: 0;
  color: #eee;
}

html {
  background: url('assets/chicago-skyline600.png') no-repeat center center fixed;
  background-size: cover;
  font-size: 100%;
}
body {
  font-family: 'Economica', sans-serif;
}

.container {
  position: relative;
  height: calc(100% + 100vh);
}

[id^="banner-text"] {
  font-size: 10rem;
  position: absolute;
  margin-top: 40vh;
  margin-left: 120px;
}

#banner-text-line2 {
  margin-top: 63vh;
}

.header {
  position: fixed;
  width: 100%;
  height: 110px;
  z-index: 999;
  display: flex;
}

#main {
  position: relative;
  top: 100vh;
  height: 100%;
  overflow-x: hidden;
}

.nav-header {
  background: transparent;
  position: relative;
  width: calc(100% - 110px);
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.list {
  display: flex;
  justify-content: space-around;
  width: 60%;
  right: 0;
  list-style: none;
  padding: 40px;
}

.list-item {
  font-size: 1.3rem;
  cursor: pointer;
}

.line {
  position: absolute;
  top: calc(50% + 15px);
  height: 2px;
  width: 0;
  background-color: #eee;
  right: -100px;
  transition: all 0.2s ease-out;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  width: 110px;
  height: 110px;
  z-index: 1000;
  background-color: #00227b;
  cursor: pointer;
}

.slide {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slide-content {
  position: fixed;
  top: 0;
  left: calc(100% / 12);
  height: 100vh;
  display: none;
  align-items: center;
}

.slide-header, .slide-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slide-header {
  margin-left: 30px;
}

.section-title {
  margin-bottom: 85px;
  font-size: 5rem;
}

.section-headline {
  font-size: 3.5rem;
  line-height: 4rem;
}

.circle-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 10px;
  background-repeat: no-repeat;
}

#profile-pic {
  background: url('assets/profile_pic_2.png');
  background-position: -80px -4px;
  background-size: 250px;
}

#fs-logo {
  background: url('assets/FS_logo.png');
  background-size: cover;
  background-position: 50% 50%;
}

#chidart-logo {
  background: url('assets/chi-dart.png');
  background-size: cover;
  background-position: 50% 50%;
}

#memail-logo {
  background: url('assets/memail_logo_5.png');
  background-size: 205px;
  background-position: 50% 50%;
}
#samepage-logo {
  background: url('assets/samepage.png');
  background-position: 10px 4px;
  background-color: #ffffff;
  background-size: 140px;
}

.flex-row, .flex-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.flex-col {
  flex-direction: column;
  width: calc(100% * 2/3);
}

.flex-col h3 {
  font-size: 2rem;
}

.icons {
  font-size: 2.5rem;
  justify-content: center;
}

.icons i {
  margin: 10px;
}

.slide-right {
  width: calc(50% - (100% / 12));
  height: 90%;
  align-items: center;
  position: absolute;
  right: calc(100% / 12);
  z-index: 10;
  transition: all 0.5s cubic-bezier(.50,0,.50,1) 0.2s;
}

.slide-right-hide {
  right: -1000px;
}

.slide-right p {
  font-size: 1.8rem;
  text-align: justify;
  margin: 10px;
  margin-bottom: 0;
}

.slide-right-projects p {
  font-size: 1.4rem;
}

.slide-right-resume .flex-col {
  width: 100%;
  font-size: 1.2rem;
  background-color: rgba(57,73,171,0.7);
  border-radius: 3px;
  padding: 10px;
}
.slide-right-resume p {
  font-size: 1.4rem;
  width: 75%;
}
.list-resume {
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: justify;
}

.slide-right-contact {
  font-size: 4rem;
}
#about {
  background-color: #3949ab;
  background-image: url('assets/coffee.png');
  background-size: 200px;
}

#projects {
  background-color: #005662;
  background-image: url('assets/laptop.png');
  background-size: 200px;
}
#resume {
  background-color: #6f74dd;
  background-image: url('assets/books.png');
  background-size: 200px;
}
#contact {
  background-color: #00838f;
  background-image: url('assets/email.png');
  background-size: 200px;
}

#footer {
  background-color: #00227b;
  color: #eee;
  height: 100px;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

#footer > a {
  color: #eee;
  text-decoration: none;
  margin-left: 5px;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
