* {
  box-sizing: border-box;
  margin: 0;
  color: #eee;
}

html {
  background: url('assets/chicago-skyline600.png') no-repeat center center fixed;
  background-size: auto 125vh;
  font-size: 100%;
  height: 125%;
}

body {
  font-family: 'Economica', sans-serif;
}

.container {
  position: relative;
  height: calc(100% + 100vh);
}

[class^="banner-text"] {
  font-size: 28vw;
  position: absolute;
  margin-top: 21vh;
  margin-left: calc(100% / 12);
}

.banner-text-line2 {
  margin-top: 60vh;
}

.header {
  position: fixed;
  height: 20vw;
  z-index: 999;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 6vw;
  width: 20vw;
  height: 20vw;
  z-index: 1000;
  background-color: #00227b;
  cursor: pointer;
}

#main {
  position: relative;
  top: 100vh;
  height: 100%;
  overflow-x: hidden;
}

.nav-header {
  background: #929ddb;
  position: relative;
  width: 80vw;
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  list-style: none;
}

.list>li {
  font-size: 5vw;
  cursor: pointer;
}

.line {
  visibility: hidden;
}

.slide {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.slide-left {
  display: flex;
}

.slide-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  margin: 25px 0;
  transition: all 0.5s cubic-bezier(.50, 0, .50, 1) 0.2s;
}

.slide-header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.section-title {
  font-size: 5rem;
}

.section-tagline {
  font-size: 10vw;
}

.circle-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 10px;
  background-repeat: no-repeat;
}

#profile-pic {
  background: url('assets/profile_pic_2.png');
  background-position: -65px -10px;
  background-size: 200px;
}

#fs-logo {
  background: url('assets/FS_logo.png');
  background-size: cover;
  background-position: 50% 50%;
}

#chidart-logo {
  background: url('assets/chi-dart.png');
  background-size: cover;
  background-position: 50% 50%;
}

#memail-logo {
  background: url('assets/memail_logo_5.png');
  background-size: 140px;
  background-position: 50% 50%;
}

#samepage-logo {
  background: url('assets/samepage.png');
  background-position: 6px -1px;
  background-color: #ffffff;
  background-size: 98px;
}

.flex-row,
.flex-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.flex-col {
  flex-direction: column;
}

.flex-col h3 {
  font-size: 2em;
}

.icons {
  font-size: 2.5rem;
  justify-content: center;
}

.icons i {
  margin: 10px;
}

.slide-right-hide {
  right: auto;
}

.slide-right p {
  font-size: 1.8rem;
  text-align: justify;
  margin: 10px;
  margin-bottom: 0;
}

.slide-right-projects p {
  font-size: 1.4rem;
}

.slide-right-resume {
  width: 90%;
  font-size: 1vw;
  background-color: rgba(57, 73, 171, 0.7);
  border-radius: 3px;
  padding: 10px;
}

.slide-right-resume p {
  font-size: 3em;
  width: 75%;
}

.slide-right-resume h3 {
  font-size: 5em;
}

.slide-right-resume h4 {
  font-size: 3em;
}

.slide-right-resume .flex-row {
  justify-content: space-between;
  width: 100%;
}

.skills-labels {
  align-items: initial;
}

.skills-labels,
.skills {
  height: 10vh;
}

.list-resume {
  font-size: 2.5em;
  margin-top: 10px;
  text-align: justify;
  padding-right: 20px;
}

.slide-right-contact {
  font-size: 4rem;
}

.social {
  height: 50vh;
}

#about {
  background-color: #3949ab;
  background-image: url('assets/coffee.png');
  background-size: 200px;
}

#projects {
  background-color: #005662;
  background-image: url('assets/laptop.png');
  background-size: 200px;
}

#resume {
  background-color: #6f74dd;
  background-image: url('assets/books.png');
  background-size: 200px;
}

#contact {
  background-color: #00838f;
  background-image: url('assets/email.png');
  background-size: 200px;
}

#footer {
  background-color: #00227b;
  color: #eee;
  height: 100px;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

#footer>a {
  color: #eee;
  text-decoration: none;
  margin-left: 5px;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media only screen and (min-width: 900px) {
  .header {
    height: 110px;
  }
  .logo {
    width: 110px;
    height: 110px;
    font-size: 2rem;
  }
  .line {
    visibility: visible;
    position: absolute;
    top: calc(50% + 15px);
    height: 2px;
    width: 0;
    background-color: #eee;
    right: -100px;
    transition: all 0.2s ease-out;
  }
  .nav-header {
    width: calc(100vw - 110px);
    justify-content: flex-end;
    background: transparent;
  }
  .list {
    width: 60%;
  }
  .list>li {
    font-size: 1.3rem;
  }
  [class^="banner-text"] {
    font-size: 10rem;
    margin-top: 25rem;
  }
  .banner-text {
    margin-top: 40vh;
  }
  .banner-text-line2 {
    margin-top: 63vh;
  }
  .slide {
    flex-direction: row;
    height: 100vh;
  }
  .slide-left {
    align-items: center;
    display: none;
    position: fixed;
    top: 0;
    left: calc(100% / 12);
    height: 100vh;
  }
  .slide-right {
    width: calc(50% - (100% / 12));
    height: 90vh;
    right: calc(100% / 12);
    position: absolute;
    margin: 0;
  }
  .slide-right-resume {
    height: auto;
    font-size: .6rem;
  }
  .slide-right-resume h3 {
    font-size: 3em;
  }
  .slide-right-resume h4,
  .slide-right-resume p,
  .list-resume {
    font-size: 2em;
  }
  .slide-right-hide {
    right: -1000px;
  }
  .slide-header {
    justify-content: space-around;
    top: auto;
    margin-left: 30px;
  }
  .section-header {
    margin-bottom: 85px;
  }
  .section-tagline {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .section-title {
    margin-bottom: 85px;
    font-size: 5rem;
  }
  .circle-pic {
    height: 150px;
    width: 150px;
  }
  #profile-pic {
    background-position: -80px -4px;
    background-size: 250px;
  }
  #memail-logo {
    background-size: 205px;
  }
  #samepage-logo {
    background-position: 10px 4px;
    background-color: #ffffff;
    background-size: 140px;
  }
  .skills-labels,
  .skills {
    height: 15vh;
  }
  .social {
    padding-right: 50%;
  }
}